@import "variables.scss";

.header {
	background-color: #fff;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 85px 0px rgba(98, 103, 112, 0.15);

	&__btn {
		@include btn;
		line-height: 2em;

		& img {
			width: 40%;
		}
	}

	&__title {
		margin: 0;
		font-size: 18px;
	}
}
