@import "variables.scss";

.splash {
	@include grad-reverse;
	height: 100vh;
	overflow: hidden;


	&__circles {
		animation: splash-up 2s 1;
		animation-fill-mode: forwards;
		animation-delay: .5s;
		width: 86vw;
		height: 86vw;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: relative;
		border-radius: 50%;
		box-shadow: 0px 0px 85px 0px rgba(98, 103, 112, 0.2);

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 110vw;
			height: 110vw;
			border-radius: 50%;
			box-shadow: 0px 0px 85px 0px rgba(98, 103, 112, 0.2);
		}

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 62vw;
			height: 62vw;
			border-radius: 50%;
			box-shadow: 0px 0px 85px 0px rgba(98, 103, 112, 0.2);
		}

	}

	&__logo {
		width: 38vw;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

	}
}


